@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-white: white;
  --primary-grey: #a9a9a9;
  --primary-black: black;
  --primary-lightg: #f4f4f4;
}

body {
  font-family: "Roboto Condensed" sans-serif !important;
}


/** NAVBAR **/
nav a.nav-link {
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin-top: 15px;
  margin-left: 10px;
}

.navbar-nav > li > a:hover {
  color: var(--primary-grey) !important;
}

.navbar-toggler {
  margin-top: 15px;
}

@media(max-width: 468px) {
  .navbar-toggler {
    margin-left: 0.8rem;
  }
}

@media(max-width: 1250px) {
  .navbar-toggler {
    margin-left: .5rem;
  }
}

/** LANDING **/
.frontImage {
  background-image: url("./images/landing.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.containerLanding {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

/** ABOUT **/
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 20rem;
  border-radius: 10px;
  padding: .3rem;
}

@media(max-width: 468px) {
  .profile-img {
    width: 20rem;
    margin-bottom: 25px;
  }
}

@media(max-width: 280px) {
  .profile-img {
    width: 16rem;
    margin-bottom: 25px;
  }
}

.pics-img {
  width: 12rem;
  padding: .3rem;
  border-top: 1px solid var(--primary-grey);
}

@media(max-width: 468px) {
  .pics-img {
    display: none;
  }
}

@media(max-width: 1250px) {
  .pics-img {
    width: 10rem;
  }
}

/** EXPERIENCE **/
.experience {
  background: var(--primary-lightg);
  padding-bottom: 2rem;
}

.experience h1 {
  text-align: center;
  border-bottom: 1px solid var(--primary-grey);
}

/** PROJECTS **/
.projects {
  text-align: start;
  padding-bottom: 2rem;
}

.projects h1 {
  text-align: center;
}


/** FOOTER **/
.footer {
  background: var(--primary-lightg);
  padding: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  text-align: center;
  margin-bottom: 0;
}

.footer nav a.nav-link {
  cursor: pointer;
}

.footer .navbar-nav > li > a {
  color: var(--primary-black) !important;
}