@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-white: white;
  --primary-grey: #a9a9a9;
}
body {
  font-family: "Roboto Condesed" sans-serif;
}
nav a.nav-link {
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin-top: 15px;
  margin-left: 10px;
}

.navbar-nav > li > a:hover {
  color: var(--primary-grey) !important;
}

.navbar-toggler {
  margin-top: 15px;
}

.frontImage {
  background-image: url("./images/landing.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.aboutMain img {
  height: 35vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.aboutText {
  width: 650px;
}

.aboutMain {
  width: 50%;
  max-width: 95%;
  margin-top: 150px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
}